/* line 1, scss/main.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* line 6, scss/main.css */
.pl-30 {
  padding-left: 30px;
}

/* line 9, scss/main.css */
.pr-30 {
  padding-right: 30px;
}

/* line 12, scss/main.css */
.pb-10 {
  padding-bottom: 10px;
}

/* line 15, scss/main.css */
.pt-10 {
  padding-top: 10px;
}

/* line 18, scss/main.css */
.pb-20 {
  padding-bottom: 20px;
}

/* line 21, scss/main.css */
.pt-20 {
  padding-top: 20px;
}

/* line 24, scss/main.css */
.container {
  max-width: 1300px;
  margin: 0 auto;
}

/* line 28, scss/main.css */
.flexbox {
  display: flex;
}

/* line 31, scss/main.css */
a {
  text-decoration: none;
  color: white;
}

/* line 35, scss/main.css */
body {
  font-family: 'Karma', serif;
  font-size: 20px;
}

/* line 39, scss/main.css */
.animation {
  background-color: #000;
  color: #fff;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: relative;
}

/* line 49, scss/main.css */
canvas {
  position: relative;
  top: 0;
  left: 0;
}

/* line 54, scss/main.css */
.terrain {
  position: absolute;
  bottom: 0;
}

/* line 58, scss/main.css */
.logo {
  font-family: 'Dancing Script', cursive;
  background-image: url(../images/logo2.jpeg);
  border-radius: 5%;
}

/* line 62, scss/main.css */
.logo span {
  color: white;
}

/* line 64, scss/main.css */
.logo span:nth-last-child(1) {
  color: gold;
}

/* line 67, scss/main.css */
.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80px;
  width: 100%;
  background: #231854;
}

/* line 75, scss/main.css */
nav > ul > li {
  display: inline;
  padding: 0 40px;
}

/* line 78, scss/main.css */
nav > ul > li :hover {
  opacity: 80%;
}

/* line 81, scss/main.css */
li > a {
  text-decoration: none;
  color: white;
}

/* line 84, scss/main.css */
li > a a:hover {
  opacity: 80%;
}

/* line 87, scss/main.css */
.nav_diff {
  color: gold;
}

/* line 90, scss/main.css */
.carusel {
  padding: 100px 0;
  background-color: #f9dba5;
}

/* line 94, scss/main.css */
.carusel-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

/* line 99, scss/main.css */
.carusel-content i {
  display: inline-block;
  padding: 10px;
  font-size: 2rem;
  cursor: pointer;
}

/* line 104, scss/main.css */
.carusel-content i:hover {
  color: grey;
}

/* line 106, scss/main.css */
.carusel-content ul {
  padding: 0 20px;
  list-style: none;
  width: 60%;
}

/* line 110, scss/main.css */
.carusel-content li {
  font-size: 1.5rem;
  display: none;
  text-align: center;
}

/* line 114, scss/main.css */
.carusel-content li h1 {
  font-size: 2rem;
}

/* line 116, scss/main.css */
.carusel-content .visible {
  display: block;
}

/* line 119, scss/main.css */
.calltoaction {
  width: 100%;
  background: #063164;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* line 126, scss/main.css */
.calltoaction div {
  padding: 40px 0;
  width: 60%;
}

/* line 129, scss/main.css */
.calltoaction div h2 {
  font-size: 26px;
  font-weight: 300;
  padding-bottom: 10px;
}

/* line 133, scss/main.css */
.calltoaction div p {
  font-size: 1rem;
}

/* line 135, scss/main.css */
.calltoaction button {
  font-family: 'Dancing Script', cursive;
  color: gold;
  width: 200px;
  height: 55px;
  border-radius: 10%;
  background: #1f1f29;
  font-size: 1.5rem;
}

/* line 144, scss/main.css */
.info-section {
  color: #063164;
  background: #f9dba5;
}

/* line 147, scss/main.css */
.info-section .info-item {
  display: flex;
  justify-content: space-around;
}

/* line 150, scss/main.css */
.info-section .info-item .info-box {
  text-align: center;
  width: 20rem;
}

/* line 153, scss/main.css */
.info-section .info-item .info-box h2 {
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
  font-weight: bold;
}

/* line 157, scss/main.css */
.info-section .info-item .info-box p {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 3rem;
  color: #231854;
}

/* line 162, scss/main.css */
.info-section .info-item .info-box .icon {
  font-size: 4rem;
  color: #231854;
  padding: 2.5rem;
}

/* line 166, scss/main.css */
.info-section .info-item .info-box .icon i {
  font-size: 50px;
}

/* line 169, scss/main.css */
.about_me {
  font-size: 1.3rem;
  background-color: #f9dba5;
  padding: 100px 0;
}

/* line 173, scss/main.css */
.about_me .container_me {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

/* line 177, scss/main.css */
.about_me .container_me .author_pic {
  max-width: 30%;
  width: 336px;
  height: 336px;
  background-image: url(../images/draconids.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 184, scss/main.css */
.about_me .container_me .author_description {
  width: 50%;
}

/* line 186, scss/main.css */
.about_me .container_me .author_description h3 {
  font-size: 1.9rem;
  font-weight: 500;
  margin-bottom: 0.75em;
}

/* line 190, scss/main.css */
.about_me .container_me .author_description p {
  overflow: hidden;
  font-weight: 500;
}

/* line 194, scss/main.css */
footer {
  background-color: #231854;
  color: white;
}

/* line 197, scss/main.css */
footer h3 {
  margin-bottom: 15px;
  font-weight: 400;
}

/* line 200, scss/main.css */
footer div:first-child {
  justify-content: space-evenly;
}

/* line 203, scss/main.css */
.footerElements {
  padding: 30px;
  width: 250px;
  font-size: 15px;
}

/* line 207, scss/main.css */
.footerElements input {
  width: 100px;
  height: 25px;
}

/* line 210, scss/main.css */
.footerElements button {
  padding: 5px;
}

/* line 213, scss/main.css */
.socialMedia {
  font-size: 30px;
}

/* line 215, scss/main.css */
.socialMedia i {
  padding: 25px 25px 0 0;
}

/* line 218, scss/main.css */
.ender {
  font-size: 0.9em;
  padding: 10px 0;
  background-color: #063164;
  color: white;
  text-align: center;
}

/* line 224, scss/main.css */
.ender span {
  color: gold;
}

/* line 227, scss/main.css */
.app-logo {
  font-family: 'Dancing Script', cursive;
  text-align: center;
  background: #009273;
  font-size: 4rem;
}

/* line 232, scss/main.css */
.app-logo span {
  color: white;
}

/* line 234, scss/main.css */
.app-logo span:nth-last-child(1) {
  color: gold;
}
