* {
	
	animation: fadeIn 0.5s;
}
.meteor {
	border: 2px solid transparent;
	border-bottom: 60px solid #fff;
	position: absolute;
	transform-origin: top right;
	animation: shower 0.5s;
	opacity: 0;
	&:after {
		content: '';
		position: absolute;
		top: 58px;
		left: 50%;
		height: 4px;
		width: 4px;
		border-radius: 100%;
		background: #fff;
		transform: translateX(-50%);
		box-shadow: 0 0 15px 0 #fff;
	}
	&:nth-child(0) {
		left: 35vw;
		top: 1vh;
		animation-delay: 8s;
	}
	&:nth-child(1) {
		left: 42vw;
		top: 44vh;
		animation-delay: 13s;
	}
	&:nth-child(2) {
		left: 68vw;
		top: 29vh;
		animation-delay: 7s;
	}
	&:nth-child(3) {
		left: 29vw;
		top: 18vh;
		animation-delay: 10s;
	}
	&:nth-child(4) {
		left: 94vw;
		top: 89vh;
		animation-delay: 15s;
	}
	&:nth-child(5) {
		left: 8vw;
		top: 84vh;
		animation-delay: 15s;
	}
	&:nth-child(6) {
		left: 66vw;
		top: 27vh;
		animation-delay: 4s;
	}
	&:nth-child(7) {
		left: 28vw;
		top: 8vh;
		animation-delay: 9s;
	}
	&:nth-child(8) {
		left: 91vw;
		top: 49vh;
		animation-delay: 9s;
	}
	&:nth-child(9) {
		left: 9vw;
		top: 74vh;
		animation-delay: 5s;
	}
	&:nth-child(10) {
		left: 3vw;
		top: 81vh;
		animation-delay: 13s;
	}
}
.star {
	display: inline-block;
	border-radius: 100%;
	background-color: #ff0;
	position: absolute;
	opacity: 0.5;
	&:nth-child(0) {
		height: 4px;
		width: 4px;
		opacity: 0.581594999608524;
		left: 29vw;
		top: 85vh;
	}
	&:nth-child(1) {
		height: 1px;
		width: 1px;
		opacity: 0.697666059296884;
		left: 8vw;
		top: 95vh;
	}
	&:nth-child(2) {
		height: 4px;
		width: 4px;
		opacity: 0.643362716340521;
		left: 33vw;
		top: 75vh;
	}
	&:nth-child(3) {
		height: 1px;
		width: 1px;
		opacity: 0.959063698656686;
		left: 44vw;
		top: 7vh;
	}
	&:nth-child(4) {
		height: 2px;
		width: 2px;
		opacity: 0.430330953605929;
		left: 3vw;
		top: 10vh;
	}
	&:nth-child(5) {
		height: 1px;
		width: 1px;
		opacity: 0.353466230418677;
		left: 47vw;
		top: 92vh;
	}
	&:nth-child(6) {
		height: 1px;
		width: 1px;
		opacity: 0.186174355990914;
		left: 21vw;
		top: 39vh;
	}
	&:nth-child(7) {
		height: 3px;
		width: 3px;
		opacity: 0.105969287040942;
		left: 65vw;
		top: 10vh;
	}
	&:nth-child(8) {
		height: 2px;
		width: 2px;
		opacity: 0.261699890209335;
		left: 11vw;
		top: 77vh;
	}
	&:nth-child(9) {
		height: 2px;
		width: 2px;
		opacity: 0.089661173001406;
		left: 87vw;
		top: 64vh;
	}
	&:nth-child(10) {
		height: 1px;
		width: 1px;
		opacity: 0.650911873340985;
		left: 86vw;
		top: 93vh;
	}
	&:nth-child(11) {
		height: 3px;
		width: 3px;
		opacity: 0.852800206203199;
		left: 44vw;
		top: 15vh;
	}
	&:nth-child(12) {
		height: 4px;
		width: 4px;
		opacity: 0.631141709177145;
		left: 63vw;
		top: 66vh;
	}
	&:nth-child(13) {
		height: 2px;
		width: 2px;
		opacity: 0.765248168039663;
		left: 54vw;
		top: 52vh;
	}
	&:nth-child(14) {
		height: 2px;
		width: 2px;
		opacity: 0.774974019697407;
		left: 22vw;
		top: 8vh;
	}
	&:nth-child(15) {
		height: 4px;
		width: 4px;
		opacity: 0.710416022539761;
		left: 27vw;
		top: 77vh;
	}
	&:nth-child(16) {
		height: 1px;
		width: 1px;
		opacity: 0.990450519512913;
		left: 98vw;
		top: 20vh;
	}
	&:nth-child(17) {
		height: 3px;
		width: 3px;
		opacity: 0.135830997565493;
		left: 39vw;
		top: 58vh;
	}
	&:nth-child(18) {
		height: 1px;
		width: 1px;
		opacity: 0.852336646826013;
		left: 96vw;
		top: 53vh;
	}
	&:nth-child(19) {
		height: 4px;
		width: 4px;
		opacity: 0.043193986961195;
		left: 4vw;
		top: 47vh;
	}
	&:nth-child(20) {
		height: 1px;
		width: 1px;
		opacity: 0.293602353627378;
		left: 38vw;
		top: 0vh;
	}
}
body {
	overflow: hidden;
	background: radial-gradient(ellipse farthest-corner at 10vw 95vw, #111 0%, #222 50%, #111 95%);
	&:before {
		content: '';
		position: absolute;
		bottom: 0;
		width: 30vw;
		height: 10vh;
		left: 0;
		background: #000;
		z-index: 1;
		border-radius: 50% 50% 0 0;
	}
	&:after {
		content: '';
		position: absolute;
		bottom: 0;
		right: 0;
		width: 80vw;
		height: 15vh;
		background: #000;
		z-index: 1;
		border-radius: 50% 50% 0 0;
	}
}
@-moz-keyframes {
	fadeIn {
		from {
		opacity: 0;
	}
}
to {
	opacity: 1;
	opacity: 1;
	opacity: 1;
	opacity: 1;
}
} {
	@-webkit-keyframes {
		fadeIn {
			from {
		opacity: 0;
		}
		shower {
			0% {
		transform: rotate(30deg) scaleY(0);
			opacity: 0;
		}
	}
	@-o-keyframes {
		fadeIn {
			from {
		opacity: 0;
		}
		shower {
			0% {
		transform: rotate(30deg) scaleY(0);
			opacity: 0;
		}
	}
	@keyframes {
		fadeIn {
			from {
		opacity: 0;
		}
		shower {
			0% {
		transform: rotate(30deg) scaleY(0);
			opacity: 0;
		}
	}
	@-moz-keyframes {
		shower {
			0% {
		transform: rotate(30deg) scaleY(0);
			opacity: 0;
		}
	}
}
65% {
	transform: rotate(30deg) scaleY(1);
	opacity: 1;
	transform: rotate(30deg) scaleY(1);
	opacity: 1;
	transform: rotate(30deg) scaleY(1);
	opacity: 1;
	transform: rotate(30deg) scaleY(1);
	opacity: 1;
}
100% {
	transform: rotate(30deg) scaleY(1) translateY(500%);
	opacity: 0;
	transform: rotate(30deg) scaleY(1) translateY(500%);
	opacity: 0;
	transform: rotate(30deg) scaleY(1) translateY(500%);
	opacity: 0;
	transform: rotate(30deg) scaleY(1) translateY(500%);
	opacity: 0;
}
