.map_container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #009273;
}

.NASAPic_container {
  background: #009273;
  font-family: 'Karma', serif;
  .NASAHeader {
    padding-top: 2rem;
    text-transform: uppercase;
    text-align: center;
    font-size: 2rem;
  }
  .NASAPic {
    padding-top: 2rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  .photo {
    padding-top: 2rem;
    height: 500px;
    width: 700px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .pic_description {
    padding-top: 2.5rem;
    padding-left: 5rem;
    padding-right: 5rem;
    text-align: center;
  }
  .pic_date {
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .date_picker {
    padding-top: 2rem;
  }
}

.met_shower_dates {
  background: #009273;
  .event_element {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .event_name {
      text-transform: uppercase;
    }
    .peak_hour {
      font-weight: bold;
    }
  }
}

.hidden_desc {
  display: none;
}

.gradient_picture {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.description_button {
  font-family: 'Dancing Script', cursive;
  color: $logoColor;
  width: 150px;
  height: 50px;
  border-radius: 10%;
  background: #1f1f29;
  font-size: 1.5rem;
}
