.app-logo {
    font-family: 'Dancing Script', cursive;
    text-align: center;
    background: #009273;
    font-size: 4rem;
    span{
        color:white;
    }
    span:nth-last-child(1){
        color:$logoColor;
    }
  }
